@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url(/Montserrat-VariableFont_wght.ttf);
}

.Montserrat {
  font-family: "Montserrat";
}


/* Width of the scrollbar */
.container::-webkit-scrollbar {
  width: 8px;
}

/* Track (the background) */
.container::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.container::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}

/* Optional: Adding a shadow effect */
.container::-webkit-scrollbar-thumb {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

